node_modules/
public/
storybook-build/
coverage/
docs/
scripts/
src/
.github/
.vscode/
.storybook/

**/*.ts
*.ts

**/*.tsx
*.tsx

!**/*.d.ts
!*.d.ts

tsconfig.json

jest.config.js

.lintstagedrc
.commitlintrc.json
.huskyrc.json

.gitignore
.gitattributes

.eslintignore
.eslintrc.js

.prettierignore
.prettierrc.json

.releaserc