node_modules/
public/
storybook-build/
coverage/
medias/
docs/
scripts/
src/
.github/
.vscode/
.storybook/

**/*.ts
*.ts

**/*.tsx
*.tsx

**/*.spec.js
*.spec.js

!**/*.d.ts
!*.d.ts

tsconfig.json

jest.config.js

.lintstagedrc
.commitlintrc.json
.huskyrc.json

.gitignore
.gitattributes

.eslintignore
.eslintrc.js

.prettierignore
.prettierrc.json

.releaserc.json

CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md